.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    margin-top:-1.0rem;
}
.help-block{
    color:#FF0000;
    font-size: 9px;
}
.gavatar{
    display:inline-block;
    border-radius:120px;
    width:120px;
    height:120px;
    margin:20px;
} 
#spanTitulo{
    font-size: 150%;
}
.spanSubTitulo{
    font-size: 120%;
}
.spanDisable{
    background-color: #F4F5F8;
}
.m-footer2{
    padding:7px 30px;
    height:60px;
    min-height:60px;
    background:#fff;
    -webkit-box-shadow:-2px -8px 41px -14px rgba(202,210,222,.61);
    -moz-box-shadow:-2px -8px 41px -14px rgba(202,210,222,.61);
    box-shadow:-2px -8px 41px -14px rgba(202,210,222,.61)
}
.m-footer2 .m-footer2__copyright{
    font-size:.9rem;
    font-weight:400;
    color:#a9a9aa
}
@media (min-width:100%){
    .m-footer2--fixed 
    .m-footer2{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        -webkit-transition:padding-top all .3s ease;
        -moz-transition:padding-top all .3s ease;
        -ms-transition:padding-top all .3s ease;
        -o-transition:padding-top all .3s ease;
        transition:padding-top all .3s ease
    }
    .m-footer2--fixed .m-body{
        padding-bottom:60px
    }
    .m-footer2--fixed .m-content{
        padding-bottom:60px
    }
    .m-footer2--fixed.m-footer2--push .m-body{
        padding-bottom:0
    }
    .m-footer2--fixed.m-footer2--push.m-aside-left--enabled .m-footer2{
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
        transition:all .3s ease;
        left:150px
    }
    .m-footer2--fixed.m-footer2--push.m-aside-left--enabled.m-aside-left--minimize .m-footer2{
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
        transition:all .3s ease;
        left:70px
    }
    .m-footer2--push.m-aside-left--enabled:not(.m-footer2--fixed) 
    .m-footer2{
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
        transition:all .3s ease;
        margin-left:150px;margin-top:-60px
    }
    .m-footer2--push
    .m-aside-left--enabled:not(.m-footer2--fixed)
    .m-aside-left--minimize .m-footer2{
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -ms-transition:all .3s ease;
        -o-transition:all .3s ease;
        transition:all .3s ease;
        margin-left:70px
    }
    .m-footer2--push.m-aside-left--enabled:not(.m-footer2--fixed) 
    .m-aside-right,
    .m-footer2--push.m-aside-left--enabled:not(.m-footer2--fixed) 
    .m-wrapper{margin-bottom:60px}
}

@media (min-width:100%) and (max-width:100%){
    .m-footer2 .m-footer2__nav .m-nav__item{
        padding:0 0 0 10px
    }
    .m-footer2 .m-footer2__nav .m-nav__item:first-child{
        padding-left:0
    }
}

@media (max-width:100%){
    .m-footer2{
        height:auto;
        padding:7px 20px
    }
    .m-footer2 .m-stack__item{
        text-align:center
    }
    .m-footer2 
    .m-footer2__copyright{
        display:inline-block;
        margin-bottom:1rem}
        .m-footer2 .m-footer2__nav{
            text-align:center;
            float:none;
            margin:0 auto
        }
    }